.imgcontainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.imgcontainer img{
    width: 50%;
    height: auto;
}

.arrow-left{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    left: 0px;
    z-index: 3;
    font-size: 24px;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0%,-50%);
    z-index: 3;
    font-size: 24px;
}
.modal button{
    background-color: red;
    color: white;
    position: absolute;
    right:0px;
    top: 0px;
    cursor: pointer;
    padding: 8px;
}