
.nav2{
    position: absolute;
    
}

.para {
    width: 27rem;;
    height: 6rem;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    border-radius: .4rem;
    position: fixed;
    left: -62px;
    background-color: white;
    transition: all 800ms ease
  }
  .para_2 {
    width: 60rem;
    margin: 0.7rem;
    height: 4.5rem;
    clip-path: polygon(6.5% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgba(38, 71, 108, 0.507);
    border-top-left-radius: 10rem;
    position: fixed;
    right: -11px;
    transition: all 800ms ease
  }
  .para1 {
    width: 33rem;;
    height: 4rem;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    border-radius: .4rem;
    position: fixed;
    left: -62px;
    background-color: white;
    transition: all 800ms ease;
    

  }
  .para1_2 {
    width: 60.5rem;
    height: 4rem;
    clip-path: polygon(8.5% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: .4rem;
    background-color: rgba(38, 71, 108);
    border-top-left-radius: 10rem;
    
    right: 0px;
    transition: all 800ms ease;
    position: fixed;
  }
.nav_bar{
    display: flex;
    gap: 2.5rem;
    margin-left: 17rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
   
}
li a:hover{
    border-bottom: .2rem solid rgb(254,187,2);
   
    color: white;
    transition: 0.3s;
    padding-bottom: 1rem;
}
.img_bg{
    position: absolute;
    width: 100%;
    height: 85vh;
    filter: brightness(0.2);
    z-index:-1;
}
.search{
    background-color: white;
    border: .3rem solid rgb(254,187,2);
    height: 4rem;
    width: 80%;
    
    align-items: center;
    display: flex;
    margin-top: 31rem;
    position: absolute;
    z-index:-1;
    
    font-size: 1.4rem;
}
.search input{
    border: none;
    margin-left: 1rem;
    width: 16rem;
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    font-size: 1rem;
    color: black;
}

.logo{
    margin-left: 12rem;
    margin-top: 1rem;
    width: 2rem;
}
.logo_text{
    margin-left: 9rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.logo1{
    margin-left: 12rem;
    margin-top: 1rem;
    width: 2rem;
    
}
.logo_text1{
    margin-left: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.logo_all{
    display: flex;
}

.line{
    border-left: .25rem solid rgb(254,187,2);
    position: absolute;
    height: 3.6rem;
    margin-top: -1.85rem;
    margin-left: 3.45rem;
}

.search_btn{
    height: 3.65rem;
    width: 7rem;
    position: absolute;
    margin-top: -1.85rem;
    margin-left: 3.7rem;
}
.head_text{
    color: white;
    position: absolute;
    margin-top: 13rem;
    margin-left: 7rem;
}
.typing{
    font-size: 5rem;
}
.login_btn{
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
}
@media screen and (max-width: 1024px) {
    .para {
        width: 27rem;;
    height: 6rem;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      }
    .para_2 {
        width: 29rem;
        right: -1rem;
        background-color: rgba(38, 71, 108, 0.507);
        clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
       
      }
      .para1 {
        width: 29rem;;
      }
      .para1_2 {
        width: 30.5rem;
        clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
      .nav_bar{
        gap: 1.5rem;
        margin-left: 1rem;
    }
    .logo_tab{
        display: flex;
        margin-top: 1rem;
    }
    .logo_all{
        display: flex;
       
    }
    
    .logo_text{
        margin-left: .4rem;
        margin-top: 1rem;
    }
    .img_bg{
        height: 52vh;
    }
    .search{
        margin-top: 36rem;
        margin-left: 5rem;
    }
    .search input{
        border: none;
        margin-left: 1.8rem;
        width: 6.4rem;
    }
    
}
/***************** Media Queries(Mobile) **************/

@media screen and (max-width: 600px) {
    .para {
        width: 15rem;;
        height: 6rem;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      }
    .para_2 {
        width: 29rem;
        right: -1rem;
        background-color: rgba(38, 71, 108, 0.507);
        clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
       
      }
      .para1 {
        width: 29rem;;
      }
      .para1_2 {
        width: 30.5rem;
        clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    
}